<!-- users/templates/users/register.html -->
{% extends 'catalog/layoute.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}}

